<!-- this file is the child to Contacts component  -->
<div class="panel panel-default">
    <div class="panel-heading clearfix">
      <h2 class="pull-left panel-heading">{{ contact.name}}</h2>
      <!-- <span> -->
        <img
            src="{{contact.imageUrl}}"
            class="img-responsive"
            alt="{{ contact.name}}">
        <div class="pull-right">  
        <a class="btn btn-primary" style="margin:8px;" routerLink="edit">Edit</a>
        <a class="btn btn-danger" (click)="onDelete()">Delete</a>
        </div> 
        <!-- </span> -->
    </div>
    <div class="panel-body">
        <!-- <a 
            href="#" 
            class="list-group-item clearfix" 
            *ngFor='let contact of contacts'> -->
            <div class="pull-left">
                <h4 class="list-group-item-heading">Email: {{ contact.email}}</h4>
                <h4 class="list-group-item-heading">Phone: {{ contact.phone}}</h4>
            </div>
            <br>
    </div>
    <div>
        <div
            class="groupContact" 
            *ngFor="let groupContact of contact.group">
            <div>{{ groupContact.name }}</div>
            <img
                class="groupContactPic"
                src="{{ groupContact.imageUrl }}" 
                alt="{{ groupContact.name }}"/>
        </div>
    </div>
</div>
