
<cms-header (selectedFeatureEvent)=switchView($event)></cms-header>
  <div class="container pull-left" [ngSwitch]="selectedFeature">
    <cms-documents *ngSwitchCase=" 'document'"></cms-documents>
    <cms-message-list *ngSwitchCase=" 'message'"></cms-message-list>
    <cms-contacts *ngSwitchCase=" 'contact'"></cms-contacts>
  </div>



  <!-- THIS IS THE OVERALL HTML FILE THAT EVERYTHING FILTERS THROUGH  -->

<!-- MY CODE  -->
<!-- <cms-header (selectedFeatureEvent)="switchView($event)"></cms-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <cms-documents *ngIf="selectedFeature === 'document'"></cms-documents>
      <cms-contacts *ngIf="selectedFeature === 'contact'"></cms-contacts>
      <cms-messages *ngIf="selectedFeature === 'message'"></cms-messages>
    </div>
  </div>
</div> -->
